<h2>All Users</h2>
<div><!-- Comment -->
<!--
        <table id="mytable" class="display">
            {% if user %}
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>UserName</th>
                </tr>
            </thead>
            <tbody>
            {% for user in user %}
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.username}}</td>
                    <td><a href="{% url 'edit-user' %}" class="edit_user" data-user-id="{{user.id}}">edit</a></td>
                    <td><a href="{% url 'delete-user' %}" class="delete_user" data-user-id = "{{user.id}}" >delete</a></td>
                </tr>
            </tbody>
            {% endfor %}
             {% endif %}
        </table>
-->

        <table id="mytable" class="display">
            
        </table>
</div>
