<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h1>
     Welcome TO cars

</h1>
<div>
    <p>
        <a href="{% url "get_list" %}">click here to see the cars</a>
    </p>
    <p>
    <a href="{% url 'jquery' %}">click for jquery page</a>
        
    </p>
    <p>
        <a href="{% url 'jhtml' %}">click for html work with jquery</a>
    </p>
    <p>
        <a href="{% url 'sample' %}"> click for Assignment </a>
    </p>
    <p>
        <a href="{% url 'jvalid' %}">Jquery Validation on form</a>
    </p>
</div>

</body>
</html>
