{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <header></header>
</head>
<script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.validate.js" %}" ></script>

<body id = "back">
<h3><u>For Val, attr</u></h3>
<div>
    <a href="http://www.google.com" id ="ht1">Click for alert</a>
    <p>Name:<input type="text" id = "txt"> </p>
    <button id="btn1" >For Attr</button>
    <button id="btn2" >For Val</button>
</div>
<h3><u>This the Prevent Default</u></h3>
<div>
<a href="http://www.google.com" id = "a1">CLick to Check prevent Default</a>
</div>

<h3>For Animation</h3>
<div>
    
</div>
   
        
<script type="text/javascript" src="{% static "js/sample.js" %}" ></script>
</body>
</html>
